doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="vieport" content="width=device-width, initial-scale=1.0")
        title FOOSESHOES - Premium Shoes Store
body
    header.main_header_block
        .top_line_block
            .container
                .logo_img_wrapper
                    .logo_block
                        a.link.logo_link
                            img.logo_img(src="imgs/header/logo.png")

                .auth_block_wrapper
                    .search_block
                        a.link.search_link(href="#")
                            .search_icon
                    .auth_block
                        a.link.auth_link(href="#") Login or Register
        .main_menu_block_wrapper
            nav.main_menu_block
                .container
                    .menu_block
                        .menu_list_wrapper
                            ul.menu_list
                                li.menu_item
                                    a.link.menu_link(href="#") Home
                                li.menu_item
                                    a.link.menu_link(href="#") Products
                                li.menu_item
                                    a.link.menu_link(href="#") About
                                li.menu_item
                                    a.link.menu_link(href="#") Pages
                                li.menu_item
                                    a.link.menu_link(href="#") Blog
                                li.menu_item
                                    a.link.menu_link(href="#") Contact
                        .user_icons_block_wrapper
                            .user_icons_block
                                .user_icons_list_wrapper
                                    ul.user_icons_list
                                        li.user_icons_item
                                            a.link.user_icons_link(href="#")
                                                .user_icons_icon.icon_star
                                                .user_icons_text 30
                                        li.user_icons_item
                                            a.link.user_icons_link(href="#")
                                                .user_icons_icon.icon_cart
                                                .user_icons_text 0
            .slidshow_block
                .slideshow_img_wrapper
                    img.slideshow_img(src="imgs/header/bg.png")
                .container
                    .slide_content_block_wrapper
                        .slide_content_block
                            .slide_content_price $145,99
                            h1.slide_content_head Pink Shoes 2017 Collection
                            p.slide_content_text.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Alias assumenda at fugiat iure molestiae nobis numquam porro
                                quae qui repellendus sed, ullam veniam, voluptatibus! Dolorem.
                        .slide_content_action_block_wrapper
                            .action_block
                                .action_list_wrapper
                                    ul.action_list
                                        li.action_item
                                            a.link.action_link(href="#")
                                                .action_view.icon_view
                                        li.action_item
                                            a.link.action_link(href="#")
                                                .action_star.icon_star
                                        li.action_item
                                            a.link.action_link(href="#")
                                                .action_share.icon_share
                                        li.action_item
                                            a.link.action_link(href="#")
                                                .action_cart.icon_addToCart
                    nav.slideshow_nav_block
                        .slideshow_nav_list_wrapper
                            ul.slideshow_nav_list
                                li.slideshow_nav_item
                                    .loader_block
                                        .loader_status
                                    a.link.slideshow_nav_link(href="#")
                                        h2.slideshow_nav_head Pink Shoes
                                        p.slideshow_nav_text Now at $145,99
                                li.slideshow_nav_item
                                    .loader_block
                                        .loader_status
                                    a.link.slideshow_nav_link(href="#")
                                        h2.slideshow_nav_head Anna Field
                                        p.slideshow_nav_text Limited Edition
                                li.slideshow_nav_item
                                    .loader_block
                                        .loader_status
                                    a.link.slideshow_nav_link(href="#")
                                        h2.slideshow_nav_head Prada
                                        p.slideshow_nav_text Summer is Comming
                                li.slideshow_nav_item
                                    .loader_block
                                        .loader_status
                                    a.link.slideshow_nav_link(href="#")
                                        h2.slideshow_nav_head Casadei
                                        p.slideshow_nav_text All Colors available
                                li.slideshow_nav_item
                                    .loader_block
                                        .loader_status
                                    a.link.slideshow_nav_link(href="#")
                                        h2.slideshow_nav_head Mellow Yellow
                                        p.slideshow_nav_text Free delivery
    section.specials_block
        .container
            .specials_list_wrapper
                ul.specials_list
                    li.specials_item
                        .specials_img_wrapper
                            a.link.specials_link(href="#")
                                img.specials_img(src="imgs/specials/1.png")
                        .specials_title On Sale
                    li.specials_item
                        .specials_img_wrapper
                            a.link.specials_link(href="#")
                                img.specials_img(src="imgs/specials/2.png")
                        .specials_title Special Offers
                    li.specials_item
                        .specials_img_wrapper
                            a.link.specials_link(href="#")
                                img.specials_img(src="imgs/specials/3.png")
                        .specials_title Must Have
    section.new_arrivals_block
        .container
            h2.new_arrivals_head New Arrivals on FooseShoes
            button.new_arrivals_btn Show All
            .products_block_wrapper
                .products_block
                    .products_list_wrapper
                        ul.products_list
                            li.products_item
                                .product_block
                                    .product_img_wrapper
                                        img.product_img(src="imgs/new_arrivals/1.png")
                                    .product_info
                                        .product_price $145,99
                                        h3.product_title Even&Odd
                                    .product_action_block_wrapper
                                        .action_block.hidden_mod
                                            .action_list_wrapper
                                                ul.action_list
                                                    li.action_item
                                                        a.link.action_link(href="#")
                                                            .action_view.icon_view
                                                    li.action_item
                                                        a.link.action_link(href="#")
                                                            .action_star.icon_star
                                                    li.action_item
                                                        a.link.action_link(href="#")
                                                            .action_share.icon_share
                                                    li.action_item
                                                        a.link.action_link(href="#")
                                                            .action_cart.icon_addToCart
                            li.products_item
                                .product_block
                                    .product_img_wrapper
                                        img.product_img(src="imgs/new_arrivals/2.png")
                                    .product_info
                                        .product_msg.deal_mod On Sale!
                                        .product_price $145,99
                                        h3.product_title Even&Odd
                                    .product_action_block_wrapper
                                        .action_block.hidden_mod
                                            .action_list_wrapper
                                                ul.action_list
                                                    li.action_item
                                                        a.link.action_link(href="#")
                                                            .action_view.icon_view
                                                    li.action_item
                                                        a.link.action_link(href="#")
                                                            .action_star.icon_star
                                                    li.action_item
                                                        a.link.action_link(href="#")
                                                            .action_share.icon_share
                                                    li.action_item
                                                        a.link.action_link(href="#")
                                                            .action_cart.icon_addToCart
                            li.products_item
                                .product_block
                                    .product_img_wrapper
                                        img.product_img(src="imgs/new_arrivals/3.png")
                                    .product_info
                                        .product_price $145,99
                                        h3.product_title Buffalo Decollete
                                    .product_action_block_wrapper
                                        .action_block.hidden_mod
                                            .action_list_wrapper
                                                ul.action_list
                                                    li.action_item
                                                        a.link.action_link(href="#")
                                                            .action_view.icon_view
                                                    li.action_item
                                                        a.link.action_link(href="#")
                                                            .action_star.icon_star
                                                    li.action_item
                                                        a.link.action_link(href="#")
                                                            .action_share.icon_share
                                                    li.action_item
                                                        a.link.action_link(href="#")
                                                            .action_cart.icon_addToCart
    section.best_sellers_block
        .container
            h2.best_sellers_head Best sellers of the month
            button.best_sellers_btn Show All
            .products_block
                ul.products_list
                    li.products_item
                        .product_block
                            .product_img_wrapper
                                img.product_img(src="imgs/best_sellers/1.png")
                            .product_info
                                .product_price $145,99
                                h3.product_title Even&Odd
                            .product_action_block_wrapper
                                .action_block.hidden_mod
                                    .action_list_wrapper
                                        ul.action_list
                                            li.action_item
                                                a.link.action_link(href="#")
                                                    .action_view.icon_view
                                            li.action_item
                                                a.link.action_link(href="#")
                                                    .action_star.icon_star
                                            li.action_item
                                                a.link.action_link(href="#")
                                                    .action_share.icon_share
                                            li.action_item
                                                a.link.action_link(href="#")
                                                    .action_cart.icon_addToCart
                    li.products_item
                        .product_block
                            .product_img_wrapper
                                img.product_img(src="imgs/best_sellers/2.png")
                            .product_info
                                .product_price $145,99
                                h3.product_title Even&Odd
                            .product_action_block_wrapper
                                .action_block.hidden_mod
                                    .action_list_wrapper
                                        ul.action_list
                                            li.action_item
                                                a.link.action_link(href="#")
                                                    .action_view.icon_view
                                            li.action_item
                                                a.link.action_link(href="#")
                                                    .action_star.icon_star
                                            li.action_item
                                                a.link.action_link(href="#")
                                                    .action_share.icon_share
                                            li.action_item
                                                a.link.action_link(href="#")
                                                    .action_cart.icon_addToCart
                    li.products_item
                        .product_block
                            .product_img_wrapper
                                img.product_img(src="imgs/best_sellers/3.png")
                            .product_info
                                .product_msg.stock_mod Out Of Stock
                                .product_price $145,99
                                h3.product_title Buffalo Decollete
                            .product_action_block_wrapper
                                .action_block.hidden_mod
                                    .action_list_wrapper
                                        ul.action_list
                                            li.action_item
                                                a.link.action_link(href="#")
                                                    .action_view.icon_view
                                            li.action_item
                                                a.link.action_link(href="#")
                                                    .action_star.icon_star
                                            li.action_item
                                                a.link.action_link(href="#")
                                                    .action_share.icon_share
                                            li.action_item
                                                a.link.action_link(href="#")
                                                    .action_cart.icon_addToCart
    section.addon_block
        .container
            .shipping_block_wrapper
                .shipping_block
                    h3.shipping_head Free Shipping
                    p.shipping_text.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Alias assumenda at fugiat iure molestiae nobis numquam porro
                        quae qui repellendus sed, ullam veniam, voluptatibus! Dolorem.
            .testimonials_block_wrapper
                .testimonials_block
                    h3.testimonials_head Free Shipping
                    p.testimonials_text.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Alias assumenda at fugiat iure molestiae nobis numquam porro
                        quae qui repellendus sed, ullam veniam, voluptatibus! Dolorem.
                    p.testimonials_author - John Doe -
            .blog_news_wrapper
                .blog_news_block
                    .blog_news_list_wrapper
                        ul.blog_news_list
                            li.blog_news_item
                                .article_block
                                    .article_date Apr
                                        span.article_date.num_big_mod 01
                                    h3.article_title Nice & Clean. The best for your blog!
                                    p.article_text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            li.blog_news_item
                                .article_block
                                    .article_date Apr
                                        span.article_date.num_big_mod 01
                                    h3.article_title What an Ecommerce theme!
                                    p.article_text Lorem ipsum dolor sit amet, consectetur adipisicing
    section.prefooter_block
        .container
            section.widgets_block
                .text_widget_block_wrapper
                    .text_widget_block
                        h3.text_widget_head Text Widget
                        p.text_widget_text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Consequatur doloremque ducimus enim excepturi fugit itaque
                            laborum odio quibusdam unde vero?
                .twitter_widget_block_wrapper
                    .twitter_widget_block
                        .twitter_widget_list_wrapper
                            ul.twitter_widget_list
                                li.twitter_widget_item
                                    p.twitter_widget_text
                                        span.twitter_widget_text.color_mod @ericafustero
                                        |   Why thank you. Your work looks awesome by the way!
                                        span.twitter_widget_text.color_mod   @treemelody
                                    p.twitter_widget_date 19 days ago
                                li.twitter_widget_item
                                    p.twitter_widget_text
                                        span.twitter_widget_text.color_mod @roymarvelous
                                        |   You can seek a refund through TF - if it is not as advertised - but it is:)
                                    p.twitter_widget_date 21 days ago
                .flickr_widget_block_wrapper
                    .flickr_widget_block
                        .flickr_widget_list_wrapper
                            ul.flickr_widget_list
                                li.flickr_widget_item
                                    .flickr_widget_img_wrapper
                                        img.flickr_widget_img.flickr_img_1(src="imgs/footer/flickr_widget/1.png")
                                li.flickr_widget_item
                                    .flickr_widget_img_wrapper
                                        img.flickr_widget_img.flickr_img_2(src="imgs/footer/flickr_widget/1.png")
                                li.flickr_widget_item
                                    .flickr_widget_img_wrapper
                                        img.flickr_widget_img.flickr_img_3(src="imgs/footer/flickr_widget/1.png")
                                li.flickr_widget_item
                                    .flickr_widget_img_wrapper
                                        img.flickr_widget_img.flickr_img_4(src="imgs/footer/flickr_widget/1.png")
                                li.flickr_widget_item
                                    .flickr_widget_img_wrapper
                                        img.flickr_widget_img.flickr_img_5(src="imgs/footer/flickr_widget/1.png")
                                li.flickr_widget_item
                                    .flickr_widget_img_wrapper
                                        img.flickr_widget_img.flickr_img_6(src="imgs/footer/flickr_widget/1.png")
            section.social_block
                .send_email_block_wrapper
                    form.send_email_block(method="post" action="#")
                        input.send_email_field(type="text" name="email" id="email" placeholder="Enter email for newsletter")
                        .arrow_btn_block
                            input.arrow_btn_submit(type="submit")
                            .arrow_btn_icon
                    .social_block_wrapper
                        .social_block
                            .social_list_wrapper
                                ul.social_list
                                    li.social_item
                                        a.link.social_link(href="#")
                                            .social_fb
                                    li.social_item
                                        a.link.social_link(href="#")
                                            .social_tw
                                    li.social_item
                                        a.link.social_link(href="#")
                                            .social_gp
                                    li.social_item
                                        a.link.social_link(href="#")
                                            .social_in
                                    li.social_item
                                        a.link.social_link(href="#")
                                            .social_fl
    footer.main_footer_block
        .conteiner
            p.main_footer_copy Copyright &copy; FooseShoes 2017. Designed by EnzoLiVoltri.
            nav.footer_menu_block
                .footer_menu_list_wrapper
                    ul.footer_menu_list
                        li.footer_menu_item
                            a.link.footer_menu_link(href="#") Home /
                        li.menu_item
                            a.link.footer_menu_link(href="#") Support /
                        li.menu_item
                            a.link.footer_menu_link(href="#") Terms and Conditions /
                        li.menu_item
                            a.link.footer_menu_link(href="#") Faqs /
                        li.menu_item
                            a.link.footer_menu_link(href="#") Contact us


